{% extends "base.html" %}
{% block content %}
<h2>나이대를 선택해주세요</h2>
<form id="question-form" action="/submit/1" method="post">
    <button type="submit" name="answer" value="20s" class="option-button">20대 이하</button><br>
    <button type="submit" name="answer" value="30s" class="option-button">30대</button><br>
    <button type="submit" name="answer" value="40s" class="option-button">40대</button><br>
    <button type="submit" name="answer" value="50s" class="option-button">50대</button><br>
    <button type="submit" name="answer" value="60s" class="option-button">60대 이상</button>
    <input type="hidden" name="existing_answers" value="{{ answers | tojson }}">
</form>
{% endblock %}
