{% extends "base.html" %}
{% block content %}
<h2>기저질환이 있으면 <b>모두</b> 체크해주세요.</h2>
<form action="/submit/11" method="post">
    <button type="button" value="circulation" class="option-button">고혈압, 관상동맥질환 등 심혈관계 질환
    </button>
    <button type="button" value="thyroid" class="option-button">갑상선 질환
    </button>
    <button type="button" value="immune" class="option-button">자가면역질환
    </button>
    <button type="button" value="symnerve" class="option-button">기립성 저혈압, 이명, 두통 등</button>
    <button type="button" value="None" class="exclusive-button">해당되는 부분이 없어요
        / 잘 모르겠어요</button><br>
    <input type="hidden" name="answer" id="answer">
    <input type="hidden" name="existing_answers" value="{{ answers }}">
    <button type="submit" class="submit-button">다음</button>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const buttons = document.querySelectorAll('.option-button');
        const exclusiveButton = document.querySelector('.exclusive-button');
        const answerInput = document.getElementById('answer');

        buttons.forEach(button => {
            button.addEventListener('click', function () {
                if (exclusiveButton.classList.contains('selected')) {
                    exclusiveButton.classList.remove('selected');
                }
                this.classList.toggle('selected');
                updateAnswer();
            });
        });

        exclusiveButton.addEventListener('click', function () {
            buttons.forEach(button => button.classList.remove('selected'));
            this.classList.add('selected');
            updateAnswer();
        });

        function updateAnswer() {
            const selectedButtons = document.querySelectorAll('.option-button.selected');
            const selectedValues = Array.from(selectedButtons).map(button => button.value);

            if (exclusiveButton.classList.contains('selected')) {
                selectedValues.push(exclusiveButton.value);
            }

            answerInput.value = selectedValues.join(',');
        }

        document.querySelector('form').onsubmit = function () {
            // 제출 시 answerInput 값 확인
            if (!answerInput.value) {
                alert('옵션을 선택해 주세요.');
                return false; // 폼 제출 취소
            }
            return true; // 폼 제출 허용
        };
    });
</script>
{% endblock %}