{% extends "base.html" %}
{% block content %}
<h2>해당하는 생활습관에 체크해주세요. (중복선택 가능)</h2>
<form action="/submit/12" method="post">
    <button type="button" value="stress" class="option-button">평소 스트레스를 많이 받는 편이에요
    </button>
    <button type="button" value="sleep" class="option-button">하루 평균 수면 시간이 6시간 미만이에요
    </button>
    <button type="button" value="coffee" class="option-button">하루에 커피를 2잔 이상 마셔요
    </button>
    <button type="button" value="smoke" class="option-button">흡연해요
    </button>
    <button type="button" value="None" class="exclusive-button">해당되는 부분이 없어요
        / 잘 모르겠어요</button><br>
    <input type="hidden" name="answer" id="answer">
    <input type="hidden" name="existing_answers" value="{{ answers }}">
    <button type="submit" class="submit-button">제출</button>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const buttons = document.querySelectorAll('.option-button');
        const exclusiveButton = document.querySelector('.exclusive-button');
        const answerInput = document.getElementById('answer');

        buttons.forEach(button => {
            button.addEventListener('click', function () {
                if (exclusiveButton.classList.contains('selected')) {
                    exclusiveButton.classList.remove('selected');
                }
                this.classList.toggle('selected');
                updateAnswer();
            });
        });

        exclusiveButton.addEventListener('click', function () {
            buttons.forEach(button => button.classList.remove('selected'));
            this.classList.add('selected');
            updateAnswer();
        });

        function updateAnswer() {
            const selectedButtons = document.querySelectorAll('.option-button.selected');
            const selectedValues = Array.from(selectedButtons).map(button => button.value);

            if (exclusiveButton.classList.contains('selected')) {
                selectedValues.push(exclusiveButton.value);
            }

            answerInput.value = selectedValues.join(',');
        }

        document.querySelector('form').onsubmit = function () {
            // 제출 시 answerInput 값 확인
            if (!answerInput.value) {
                alert('옵션을 선택해 주세요.');
                return false; // 폼 제출 취소
            }
            return true; // 폼 제출 허용
        };
    });
</script>
{% endblock %}