{% extends "base.html" %}
{% block content %}
<h2>이소트레티노인* 성분의 의약품을 복용 중이신가요?</h2>
<br>
<span class=highlight_1>이소트레티노인 : 여드름이 심할 때 피지조절제로 처방 하에 복용하는 의약품, 비타민 A 유도체</span>
<br>
상품명 : 이소티논연질캡슐, 니메겐연질캡슐, 제로큐탄연질캡슐, 트레논연질캡슐 등
<br>
<br>
<img src=https://raw.githubusercontent.com/dongjoon-min/publicimages/main/images/isotretinoin.png width="85%">
<br>
<br>
<form id="question-form" action="/submit/8" method="post">
    <button type="submit" name="answer" value="isotretinoin" class="option-button">예</button>
    <button type="submit" name="answer" value="None" class="option-button">아니오</button>
    <input type="hidden" name="existing_answers" value='{{ answers }}'>
</form>
{% endblock %}