{% extends "base.html" %}
{% block content %}
<h2>눈꺼풀세정제*를 사용한 경험이 있나요?</h2>
<br>
* 눈꺼풀 세정제 : 블레파졸, 오큐소프트 등
<br>
<br>
<img src=https://raw.githubusercontent.com/dongjoon-min/publicimages/main/images/%EB%B8%94%EB%A0%88%ED%8C%8C%EC%A1%B8%2C%20%EC%98%A4%ED%81%90%EC%86%8C%ED%94%84%ED%8A%B8.png
    width="50%" , height="50%">
<br>
<br>
<form id="question-form" action="/submit/7" method="post">
    <button type="submit" name="answer" value="Yes" class="option-button">예</button>
    <button type="submit" name="answer" value="No" class="option-button">아니오</button>
    <input type="hidden" name="existing_answers" value='{{ answers }}'>
</form>
{% endblock %}