{% extends "base.html" %}
{% block content %}

<br>
<div id="progress-data" data-question-id="{{ question_id }}"></div>
<div class="progress-container">
    <div class="progress-bar" id="progress-bar">
        <span id="progress-text"></span>
    </div>
</div>
<br>
<h2>하루에 스마트폰/모니터를 보는 시간이 얼마나 되시나요?
    <br>(연속 시간 기준)
</h2>
<br>
<form id="question-form" action="/submit/7" method="post">
    <button type="submit" name="answer" value="2h" class="option-button">2시간 이상</button>
    <button type="submit" name="answer" value="1h" class="option-button">1~2시간</button>
    <button type="submit" name="answer" value="0" class="option-button">1시간 미만</button>
    <input type="hidden" name="existing_answers" value='{{ answers }}'>
</form>


<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const progressData = document.getElementById('progress-data');
        const currentQuestionId = progressData.dataset.questionId;
        updateProgressBar(currentQuestionId);
    });

    function updateProgressBar(questionId) {
        const totalQuestions = 13;
        const progressBar = document.getElementById('progress-bar');
        const progressText = document.getElementById('progress-text');
        const progress = (questionId / totalQuestions) * 100;

        progressBar.style.width = progress + '%';
        progressText.textContent = questionId + ' / ' + totalQuestions;
    }

    // 다중 선택 

</script>
{% endblock %}