{% extends "base.html" %}
{% block content %}

<div id="progress-data" data-question-id="{{ question_id }}"></div>
<div class="progress-container">
    <div class="progress-bar" id="progress-bar">
        <span id="progress-text"></span>
    </div>
</div>
<br>

<h2>지난 한 주 동안 아래 증상을 겪은 적이 있나요?
    <br>
    <font size=5px>(2/2)</font>
</h2>
<h3>(중복선택 가능)</h3>
<form action="/submit/3" method="post">
    <button type="button" value="sight" class="option-button">시야가 흐리고 침침</button>
    <button type="button" value="burning" class="option-button">눈이 타는 듯한 작열감</button>
    <button type="button" value="soreness" class="option-button">눈 시림 & 눈물</button>
    <button type="button" value="swell" class="option-button">눈꺼풀 붓기</button>
    <button type="button" value="No" class="exclusive-button">이 중 해당되는 증상이 없어요.</button><br>
    <input type="hidden" name="answer" id="answer">
    <input type="hidden" name="existing_answers" value="{{ answers }}">
    <button type="submit" class="submit-button">다음</button>
</form>



<!-- sight, burning, soreness, swell -->

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const progressData = document.getElementById('progress-data');
        const currentQuestionId = progressData.dataset.questionId;
        updateProgressBar(currentQuestionId);
    });

    function updateProgressBar(questionId) {
        const totalQuestions = 13;
        const progressBar = document.getElementById('progress-bar');
        const progressText = document.getElementById('progress-text');
        const progress = (questionId / totalQuestions) * 100;

        progressBar.style.width = progress + '%';
        progressText.textContent = questionId + ' / ' + totalQuestions;
    }

    // 다중 선택 

    document.addEventListener('DOMContentLoaded', function () {
        const buttons = document.querySelectorAll('.option-button');
        const exclusiveButton = document.querySelector('.exclusive-button');
        const answerInput = document.getElementById('answer');

        buttons.forEach(button => {
            button.addEventListener('click', function () {
                if (exclusiveButton.classList.contains('selected')) {
                    exclusiveButton.classList.remove('selected');
                }
                this.classList.toggle('selected');
                updateAnswer();
            });
        });

        exclusiveButton.addEventListener('click', function () {
            buttons.forEach(button => button.classList.remove('selected'));
            this.classList.add('selected');
            updateAnswer();
        });

        function updateAnswer() {
            const selectedButtons = document.querySelectorAll('.option-button.selected');
            const selectedValues = Array.from(selectedButtons).map(button => button.value);

            if (exclusiveButton.classList.contains('selected')) {
                selectedValues.push(exclusiveButton.value);
            }

            answerInput.value = selectedValues.join(',');
        }

        document.querySelector('form').onsubmit = function () {
            // 제출 시 answerInput 값 확인
            if (!answerInput.value) {
                alert('옵션을 선택해 주세요.');
                return false; // 폼 제출 취소
            }
            return true; // 폼 제출 허용
        };
    });
</script>

{% endblock %}